@import "npm:cookieconsent/build/cookieconsent.min.css";
@import "npm:tiny-slider/dist/tiny-slider.css";

@import "https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700";
@import "https://use.fontawesome.com/releases/v5.8.1/css/all.css";


body {
  font-family: "Noto Serif", serif;
  background-color: #ebf4fb;
  margin: 0;
  padding: 0;
}

section {
  width: 90%;
  margin: 40px auto;
  text-align: justify;
  font-size: 1.2em;
}

footer {
  font-size: 1.2em;
  margin-top: 30px;
  background: #000000;
  height: auto;
  padding: 25px 0px;
  text-align: center;
  color: white;
}

footer ul, footer li {
  margin: 0;
	padding: 0;
	list-style: none;
}

footer li {
	display: inline-block;
	font-size: 16px;
}
footer li:after {
	content: "|";
	margin: 0 20px;
}
footer li:last-child:after {
	display: none;
}

header {
  color: white;
  background: #000000 url("../images/logo/small.png") center 50% no-repeat;
  padding: 1em 10%;
  margin: 0;
  background-size: 6em;
  background-position-x: 90%;
  text-align: left;
}


.img-slider {
  height: 400px;
  width: auto;
}

.img-slider2 {
  height: 400px;
  width: auto;
  }

iframe {
  width: 100%;
  height: 400px;
}

.img {
  width: 100%;
}

.link {
  list-style-image: url(../images/enlace.png);

}
.enlaces {
  font-weight: bold;
  color: blue;
}

nav {
  margin: 20px auto;
  box-sizing: border-box;
  background-color: #f8f8ff;
  width: 90%;
  height: auto;
  overflow: hidden;
  text-align: center;
  border-bottom: 2px solid orange;
  font-size: 1.3em;
  font-weight: bolder;
}

.circulo {
    max-width: 250px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    margin-right:2em ;
    margin-bottom: 1em;
    float:left;
  }

ul {
  list-style-type: none;
}

.listado {
  margin-top: 0.5em;
}

.listado2 {
  list-style-type: disc;
}

a {
  color: black;
  text-decoration: none;
}


a.hed {
  color:white;
  text-decoration: none;
}

a.hed2 {
  color:#F784F7;
  text-decoration: none;
}
a.hed:hover {
  font-size:1em;
}
a.hed2:hover {
  font-size:1em;
}

.grid-detalle-sesion {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
}

.grid-detalle-sesion2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
}

.grid-detalle-sesion div {
  text-align: justify;
}

.menu li {
  padding: 15px 5px;
  white-space: nowrap;
}


.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.card {
  background-color: #f8f8ff;
  padding: 2em;
  border-radius: 20px;
  margin-bottom: 20px;
}
.video {
  width: 100%;
  height: 400px;
}

.icono {
  max-width: 60px;
  margin:auto;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  30%{
    transform: scale(1.5);
    opacity: 0.5;
  }
  60% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.feliznavidad {
  width: 50%;
}
.navidad {
  width: 300px;
  margin:auto;
  animation-duration: 8s;
  animation-name:bounceIn;
}
.feliz {
  color:white;
  text-shadow: 5px 5px 5px red;
  font-size: xxx-large;
}
.parcel {
  height: 200px;
   background-image: url("../images/presentacion/parcel/parcel-480w.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

/* menu ordenador */

@media all and (min-width: 1000px) {

  header {
    color: white;
    background: #000000 url("../images/logo/big.png") center 50% no-repeat;
    padding: 1em 10%;
    margin: 0;
    background-size: 6em;
    background-position-x: 90%;
    text-align: left;
  }

  .parcel {
    height: 300px;
     background-image: url("../images/presentacion/parcel/parcel-1200w.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }

  .circulo {
    max-width: 300px;
  }
    .imagen_destacada {
    width: 100%;
  }
  section {
    width: 70%;
    font-size: 1em;
  }
  
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .item {
    order: 1;
  }
 
  .menu li {
    padding: 15px 10px;
  }

  .grid-detalle-sesion {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  
  .grid-detalle-sesion2 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-slider {
    height: 500px;
    width: auto;
  }

  .img-slider2 {
    height: 500px;
    width: auto;
  }

  footer {
    background: #000000 url("../images/logo/big.png") center 50% no-repeat;
  background-size: 4em;
  background-position-x: 10%;
  }
}

.datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.datagrid {
  font-size:0.8em;
  background: #fff;
  overflow: hidden;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
}

.datagrid table td,
.datagrid table th {
  padding: 3px 10px;
}

.datagrid table thead th {
  background-color: #8c8c8c;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border-left: 1px solid #a3a3a3;
}

.datagrid table thead th:first-child {
  border: none;
}

.datagrid table tbody td {
  color: #7d7d7d;
  border-left: 1px solid #dbdbdb;
  font-size: 1.3em;
  font-weight: normal;
  padding: 5px;

}

.datagrid table tbody .alt td {
  background: #ebebeb;
  color: #7d7d7d;
}

.datagrid table tbody td:first-child {
  border-left: none;
}

.datagrid table tbody tr:last-child td {
  border-bottom: none;
}

.datagrid table tfoot td div {
  border-top: 1px solid #8c8c8c;
  background: #ebebeb;
}

.datagrid table tfoot td {
  font-size: 1.3em;
  padding: 0.5em 0.5em;
}

.datagrid table tfoot td div {
  padding: 2px;
}

.datagrid table tfoot td ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.datagrid table tfoot li {
  display: inline;
}

.datagrid table tfoot li a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 8px;
  margin: 1px;
  color: #f5f5f5;
  border: 1px solid #8c8c8c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0.05, #8c8c8c),
      color-stop(1, #7d7d7d));
  background: -moz-linear-gradient(center top, #8c8c8c 5%, #7d7d7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
  background-color: #8c8c8c;
}

.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover {
  text-decoration: none;
  border-color: #7d7d7d;
  color: #f5f5f5;
  background: none;
  background-color: #8c8c8c;
}